.header-container {
display: flex;
height: 50px;
padding: var(--spasing-small);
background-color: var(--color-medium);
position: fixed;
top: 0;
left: 0;
width: 100%;
}

.header-counter {
margin-left: auto;
padding-right: var(--spasing-small);
font-weight: bold;
cursor: pointer;
}